
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="orca.turbo">
	<uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
	<application
		android:allowBackup="true"
		android:icon="@drawable/ic_orca_turbo"
		android:label="@string/app_name"
		android:requestLegacyExternalStorage="true"
		android:theme="@style/AppTheme"
		android:usesCleartextTraffic="true"
		tools:targetApi="23">
		<activity
			android:name=".MainActivity"
			android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
			android:hardwareAccelerated="true"
			android:supportsPictureInPicture="true"
			android:screenOrientation="portrait"
			android:exported="true"
            tools:targetApi="24"
            tools:ignore="DiscouragedApi,LockedOrientationActivity">
		</activity>
		<activity
			android:name=".DebugActivity"
			android:screenOrientation="portrait"
			android:theme="@style/AppTheme.DebugActivity"
            tools:ignore="DiscouragedApi,LockedOrientationActivity,MissingClass" />
		<uses-library
			android:name="org.apache.http.legacy"
			android:required="false" />

<service
    android:label="Turbo"
    android:name=".SafeKillerTileService"
    android:icon="@drawable/ic_orca_turbo"
    android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
    android:exported="true"
    tools:targetApi="24">
    <intent-filter>
        <action android:name="android.service.quicksettings.action.QS_TILE" />
    </intent-filter>
</service>
	</application>
</manifest>
